<ion-view title="{{alert.name}}">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
     
     <!--<ul class="float-right icon-right">
      <li><div ng-click="activateAlert(listsingle.alert.id)"><i class="fa fa-paper-plane custom-fa"></i></div></li>
     <li><div ng-click="pauseAlert(listsingle.alert.id)"><i class="fa fa-bell-slash-o custom-fa"></i></div></li>
      <li><div ng-click="deleteAlert(listsingle.alert.id)"><i class="fa fa-trash-o custom-fa"></i></div></li>
    </ul>-->
  </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <span ng-click="activateAlert(alert.id)">
            <i class="fa fa-paper-plane custom-fa"></i>
        </span>
        <span style="width:5px"></span>
        <span ng-click="pauseAlert(alert.id)">
            <i class="fa fa-bell-slash-o custom-fa"></i>
        </span>
        <span style="width:5px"></span>
        <span ng-click="deleteAlert(alert.id)">
            <i class="fa fa-trash-o custom-fa"></i>
        </span>
    </ion-nav-buttons>
  </ion-view>
  <ion-view>
      <ion-content ng-show="error || totalRecords==0">
          <div class="card" ng-show="error">
              <div class="item item-text-wrap alert-bg">
                  <p>An Error Occured.Please Try again later.</p>
              </div>
          </div>
          <div class="card" ng-show="totalRecords==0">
              <div class="item item-text-wrap alert-bg">
                  <p>There are currently no coupons available.</p>
              </div>
          </div>
      </ion-content>
             
      <ion-tabs ng-show="totalRecords>0" class="tabs-positive tabs-icon-only tabs-background-calm">
          <ion-tab ng-repeat="tab in tabs" title="{{tab.name}}" class="remove_tab{{tab.name}}">
              <ion-content>

                  <ion-refresher on-refresh="doRefresh()"
                                 pulling-text="Pull to refresh"
                                 refreshing-text="Refreshing!!"
                                 refreshing-icon="ion-loading-c"></ion-refresher>

                  <div class="card" ng-show="tab.count==0">
                      <div class="item item-text-wrap alert-bg">
                          <p>There are no coupons available .</p>
                      </div>
                  </div>
                  <div ng-repeat="coupon in tab.coupons">
                      <a class="" href="#/app/couponsingle/{{coupon.id}}">
                          <div class="item item-avatar" href="#">
                              <img ng-src="http://sbimgs.27coupons.com/lion/{{coupon.img}}">
                              <h3><b>{{coupon.tt}}</b></h3>
                              <p class="text-small end_date{{coupon.cs}}">{{coupon.et}}</p>
                          </div>
                      </a>
                  </div>
                  <div class="text-center padding" ng-show="paginationData.next_page>0">
                      <button class="button button-small button-full button-balanced" ng-click="loadMoreResults()">
                          <i class=" fa fa-spinner">
                          </i>&nbsp;&nbsp;Load More
                      </button>
                  </div>
              </ion-content>
          </ion-tab>
      </ion-tabs> 	
     

</ion-view>


