<ion-view title="Banks">
              <ion-nav-buttons side="left">
                <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>                 
              </ion-nav-buttons>
              <ion-content class="body-pane">
              
                <ion-refresher on-refresh="doRefresh()"
                                 pulling-text="Pull to refresh"
                                 refreshing-text="Refreshing!!"
                                 refreshing-icon="ion-loading-c">                     
              </ion-refresher>

                  <div class="list card custom-store">
                      <ion-item ng-repeat="bank in banks" href="#/app/banksingle/{{bank.id}}">

                          <div class="item item-avatar truncate_list">
                              <img src="http://sbimgs.27coupons.com/lion/{{bank.img}}">
                              <h3><b>{{bank.tt}}</b></h3>
                              <span class="badge badge-calm">{{bank.nc}}</span>
                          </div>

                      </ion-item>
                  </div>
              </ion-content>
    <ion-infinite-scroll on-infinite="loadMore()"
                         ng-if="paginationData.next_page-page==1"
                         distance="20%"
                         icon="ion-load-c">

    </ion-infinite-scroll>
</ion-view>
