<ion-side-menus>
  <ion-pane ion-side-menu-content>
    <ion-nav-bar class="bar-stable nav-title-slide-ios7 bar-calm">
      <!--<ion-nav-back-button class="button-clear"><i class="icon ion-ios7-arrow-back"></i></ion-nav-back-button>-->
    </ion-nav-bar>
    <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
  </ion-pane>

  <ion-side-menu side="left" ng-controller="AppCtrl">
    <header class="bar bar-header bar-stable bar-calm">
      <h1 class="title"></h1>
    <img ng-src="img/rsz_logo.png">
    </header>
    <ion-content class="has-header 27coupon-menu">
      <ion-list class="custom-menu">
        <ion-item nav-clear menu-close href="#/app/home" class="item-icon-left menu" ><i class="fa fa-home"></i>
          Home
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/favouritestores" class="item-icon-left"><i class="fa fa-star"></i>
          Favourite Stores
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/stores" class="item-icon-left"><i class="fa fa-suitcase"></i>
          All Stores
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/saved" class="item-icon-left"><i class="fa fa-heart"></i>
          Saved Coupons
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/alert" class="item-icon-left"><i class="fa fa-bell"></i>
          Customs Alerts
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/categories" class="item-icon-left"><i class="fa fa-tags"></i>
          Categories
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/banks" class="item-icon-left"><i class="fa fa-bank"></i>
          Banks
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/refer_earn" class="item-icon-left"><i class="fa fa-rupee"></i>
          Refer & Earn
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/notification" class="item-icon-left"><i class="fa fa-bullhorn"></i>
          Notifications
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/points" class="item-icon-left"><i class="fa fa-trophy"></i>
          Points
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/profile" class="item-icon-left"><i class="fa fa-user"></i>
          Profile
        </ion-item>
        <ion-item nav-clear menu-close href="#" ng-click="logOut()" class="item-icon-left"><i class="fa fa-sign-out"></i>
          Logout
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
