<ion-view title="Reward Points"><h1><i class="icon ion-gear-a"></i></h1>
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
     
  </ion-nav-buttons>

<ion-content>

                 <div class="list card">

                  <div class="item item-body text-center">
                        <div class="avtar refer-earn">
                            <img ng-src="img/ic_launcher.png">
                        </div>
                        <h2><b>Total Points</b><br/>
                        </h2>
                        <h1 class="blue"><span>{{points.total_points}}</span></h1>

                  </div>

                </div>

                </div>

                <div class="list card create-alert">
                 <div class="item">
                    <i class="fa fa-align-justify blue"></i><span>&nbsp;&nbsp;Terms and Conditions</span>
                  </div>
                    <div class="item item-body">     <p>                     
Download and usage of atleast once will be considered as valid referral.
200 reward points will be credited for every successfull referral.
Please read our detailed <button ng-click="func1()" class="share">Terms and Conditions</button>.</p>               
                    </div>
                </div>



</ion-content>

</ion-view>