 <ion-view title="Refer & Earn">     
    <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
     
   </div>
  </ion-nav-buttons>
 </ion-view>
<ion-view class="body-pane">
            
         <ion-content>
            <div class="list card">

                  <div class="item item-body text-center">
                        <div class="avtar refer-earn">
                            <img ng-src="img/ic_launcher.png">
                        </div>
                        <p>Refer Your Friend<br/><br/>
                        To use This Awesome App and Earn</p>
                        <h1 class="blue"><i class="fa fa-rupee"></i>&nbsp;2000</h1>

                        <button class="button button-block button-calm btn-custom" ng-click="shareViaEmail()">
                          Refer Via Email
                        </button>
                        <h2><b>OR</b></h2>
                        <p>Share the Following URL with Your Friends <br/>
                        And Starts Earning</p>

                        <a class="button button-block button-balanced btn-custom" ng-click="shareViaSocial()">
                           {{linkToBeSharedViaEmail}}
                        </a>
                  </div>

                </div>

                <div class="list card create-alert">
                 <div class="item">
                    <i class="fa fa-align-justify blue"></i><span>&nbsp;&nbsp;Terms and Conditions</span>
                  </div>
                    <div class="item item-body">
                           <p>Download and usage of atleast once will be considered as valid referral.</p>
                           <p>200 reward points will be creditedfor every successful referral.</p>
                           <p>Please read our detailed <button ng-click="func1()" class="share">Terms and Conditions</button></p>                    
                    </div>
                </div>
         </ion-content>

</ion-view>