<div class="modal custom-modal custom-modal-backdrop">
  <div class="avtar">
      <img ng-src="img/ic_launcher.png">
  </div>
  <div class="close-btn">
           <button class="button button-clear" ng-click="closeLogin()"><i class="fa fa-close"></i></button>
  </div>
  <ion-content scroll="false">
    <form ng-submit="resetPassword()"name='loginForm'>
      <div class="list custom-list">
        <label class="item item-input">
          <span class="input-label"><i class="fa fa-envelope"></i></span>
          <input type="email"  placeholder="Enter Your Email" ng-model="loginData.username" required>
        </label>
         <label class="text-center sign-in-error ">
            <p>{{message}}</p>
         </label>
        <label class="item text-center erase-border-color">
          <button class="button button-block button-positive" type="submit" ng-disabled='!loginForm.$valid' >Reset Password</button>
        </label>
      </div>
      
    </form>
  </ion-content>
</div>