<ion-view title="Saved Coupons"><h1><i class="icon ion-gear-a"></i></h1>
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
      
  </ion-nav-buttons>
    <ion-content ng-show="error || totalRecords==0">
        <div class="card" ng-show="error">
            <div class="item item-text-wrap alert-bg">
                <p>An Error Occured.Please Try again later.</p>
            </div>
        </div>
        <div class="card" ng-show="!totalRecords">
            <div class="item item-text-wrap alert-bg">
                <p>There are no coupons available.</p>
            </div>
        </div>
    </ion-content>
    <ion-tabs ng-show="totalRecords>0" class="tabs-positive tabs-bottoms tabs-icon-only tabs-background-dark tabs-color-assertive">        
        <ion-tab ng-repeat="tab in tabs" title="{{tab.name}}" class="remove_tab{{tab.name}}">
            <ion-pane>
                <ion-content class="body-pane">
                    <ion-refresher on-refresh="doRefresh()"
                                   pulling-text="Pull to refresh"
                                   refreshing-text="Refreshing!!"
                                   refreshing-icon="ion-loading-c"></ion-refresher>

                    <div ng-repeat="coupon in tab.coupons">
                        <a class="" href="#/app/couponsingle/{{coupon.id}}">
                            <div class="item item-avatar" href="#">
                                <img ng-src="http://sbimgs.27coupons.com/lion/{{coupon.img}}" style="width:100%">
                                <h3><b>{{coupon.tt}}</b></h3>
                                <p class="text-small end_date{{coupon.cs}}">{{coupon.et}}</p>
                            </div>
                        </a>
                    </div>

                    <div class="text-center padding" ng-show="paginationData.next_page>0">
                        <!--<button ng-click="loadMore()">Load more</button>-->
                        <button class="button button-small button-full button-balanced" ng-click="loadMoreResults()">
                            <i class=" fa fa-spinner">
                            </i>&nbsp;&nbsp;Load More
                        </button>
                    </div>
                </ion-content>
            </ion-pane>
        </ion-tab>
      
    </ion-tabs>

</ion-view>