<ion-view class="custom-pane">
  <ion-content class="outer-div" scroll="false">
  		<div class="inner-div text-center" data-ng-init="init()">		
          		 <div class="row">
				  <div class="col">

				    <img ng-src="img/logo.png">
				  </div>
				</div>
				<div class="row loader-icon">
						<div class="col">
							<i class="icon ion-loading-c fa-2x"></i>
						</div>
				</div>
				<div class="splash-login"  >
					<div class="row" >
					<div class="col margin-top">
						<button class="button button-block button-positive btn-custom" ng-click="login(register_click)">
						  Register
						</button>
					</div>
				</div>
				<div class="row text-center text">
					<div class="col">
						<button class="button button-block button-positive btn-custom" ng-click="loginWithFacebook()">
						  Sign in With Facebook
						</button>
					</div>
				</div>
				<div class="row text-center text"  >
					<div class="col">
						<button class="button button-block button-positive btn-custom pop-up-button" ng-click="login(login_click)">
						  Sign In
						</button>

					</div>
				</div>
				</div>
		</div>		
    </ion-content>
</ion-view>