<ion-view><h1><i class="icon ion-gear-a"></i></h1>
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    <img ng-src="http://assets.27coupons.com/www/4.1/img/logo.png" width='50%'>
  </ion-nav-buttons>

<ion-pane ng-controller="CardsCtrl">
      <ion-header-bar class="bar-transparent">
        <h1 class="title">Help Out</h1>
      </ion-header-bar>

      <swipe-cards on-card-swipe="onSwipe($event)">

      <swipe-cards>
        <swipe-card on-card-swipe="cardSwiped()" id="start-card">
          Swipe down for a new card
        </swipe-card>
        <swipe-card ng-repeat="card in cards" on-destroy="cardDestroyed($index)" on-card-swipe="cardSwiped($index)">

          <div ng-controller="CardCtrl">
            <div class="title">
              {{card.title}}
            </div>
            <div class="image">
              <img ng-src="{{card.image}}">
            </div>
            <div class="button-bar">
              <button class="button button-clear button-positive" ng-click="goAway()">Answer</button>
              <button class="button button-clear button-positive" ng-click="goAway()">Decline</button>
            </div>
          </div>
        </swipe-card>
      </swipe-cards>
    </ion-pane>

</ion-view>