

<ion-view>
		<!--<ion-content > 
 			<div ng-repeat="store in stores">{{$index}} - {{store.tt}}
 			<hr>
 			</div>
 		
		</ion-content >	
		<ion-infinite-scroll 
		on-infinite="loadMore()" 
		distance="10%"
		icon="ion-load-c">
		</ion-infinite-scroll>-->	

    <!--<ion-content ng-show="error || tabs.tabs.length<1">
        <div class="card" ng-show="error">
            <div class="item item-text-wrap alert-bg">
                <p>An Error Occured.Please Try again later.</p>
            </div>
        </div>
        <div class="card" ng-show="tab.count<1">
            <div class="item item-text-wrap alert-bg">
                <p>There are no coupons available.</p>
            </div>
        </div>
    </ion-content>-->
    <ion-tabs  class="tabs-positive tabs-icon-only tabs-background-calm">
        <ion-tab ng-repeat="tab in tabs" title="{{tab.name}}" class="remove_tab{{tab.name}}">
            <ion-content>
                <ion-refresher on-refresh="doRefresh()"
                               pulling-text="Pull to refresh"
                               refreshing-text="Refreshing!!"
                               refreshing-icon="ion-loading-c"></ion-refresher>

                <div ng-repeat="coupon in tab.coupons">
                    <a class="" href="#/app/couponsingle/{{coupon.id}}">
                        <div class="item item-avatar">
                            <img ng-src="http://sbimgs.27coupons.com/lion/{{coupon.img}}">
                            <h3><b>{{coupon.tt}}</b></h3>
                            <p class="text-small end_date{{coupon.cs}}">{{coupon.et}}</p>
                        </div>
                    </a>
                </div>
                <div class="text-center padding">
                    <!--<button ng-click="loadMore()">Load more</button>-->
                    <button class="button button-small button-full button-balanced" ng-click="loadMore()">
                        <i class=" fa fa-spinner">
                        </i>&nbsp;&nbsp;Load More
                    </button>
                </div>
            </ion-content>

        </ion-tab>
    </ion-tabs>
</ion-view>