/* Empty. Add your own CSS if you like */
/*.tabs{
	bottom: none !important;
	top:44px;
}*/
/*.tabs-content{
	margin-top: 110px;
}*/
.view{
	overflow: scroll;
}
.col-73{
	flex: 0 0 73.6666%;
	max-width: 73.6666%;
}
.light1{
	color: #d7d7d7;
}
.item{
	white-space: normal;
}
.loading-container .loading {
padding: 0px;
border-radius: 40px;
background-color: rgba(255, 255, 255, 0.7);
color: #4a87ee;
text-align: center;
text-overflow: ellipsis;
font-size: 15px;
}
a.item-content {
display: block;
color: #000;
text-decoration: blink;
/*text-shadow: 1px 1px #C34848; */
}
.item-icon-left .icon, .item-icon-right .icon{
	font-size: 20px;
}
/*Swapna*/
.card {
padding-top: 1px;
padding-bottom: 1px;
box-shadow: 0 2px 1px rgba(0, 0, 0, 0.1);
}
.card, .list-inset {
overflow: hidden;
margin: 5px 10px;
border-radius: 2px;
background-color: #fff;
}
.item-complex .item-content, .item-radio .item-content {
	padding: 5px 0 5px 0;
}
.tab-title{
	font-weight: bold;
}

/* Testing part */
body {
  cursor: url('http://ionicframework.com/img/finger.png'), auto;
}
/* Your app's CSS, go crazy, make it your own */

.ionic-logo {
  display: block;
  margin: 15px auto;
  width: 96px;
  height: 96px;
}

.pane {
  background-color: #333 !important
}

.bar.bar-transparent {
  background-color: transparent;
  background-image: none;
  border: none;
}


.bar .title {
  color: #eee;
}

.swipe-cards {
  position: fixed;
}

.swipe-card {
  -webkit-perspective: 1000;
  -webkit-backface-visibility: hidden;
  display: none;
  position: fixed;
  -webkit-transform: scale(1,1);
  left: 50%;
  top: 50%;
  width: 300px;
  height: 300px;
  margin-left: -150px;
  margin-top: -150px;
  box-sizing: border-box;
  background-color: rgb(255,255,255);
  border-radius: 4px;
  overflow: hidden;
  -webkit-animation-fill-mode: forwards;
}

.swipe-card .title {
  height: 40px;
  padding: 5px;
  line-height: 30px;
  color: #444;
}
.swipe-card .image {
  overflow: hidden;
  max-height: 210px;
}
.swipe-card .button {
  border: none;
}
.swipe-card .image img {
  width: 100%;
  border-radius: 0px 0px 4px 4px;
}

#start-card {
  color: #fff;
  background-color: #30BD8A;
  line-height: 300px;
  word-wrap: break-word;
  border: 6px solid #4CD68E;
  text-align: center;
}
#start-card span {
  display: inline-block;
  line-height: 40px;
  width: 200px;
  font-size: 30px;
  vertical-align: middle;
}

#footer .button {
  color: #fff;
}

@-webkit-keyframes bounceIn {
  0% {
    -webkit-transform: scale(0,0);
  }
  70% {
    -webkit-transform: scale(1.2,1.2);
  }
  100% {
    -webkit-transform: scale(1,1);
  }
}

.swipe-card.pop-in-start {
  -webkit-transform: scale(0,0);
}
.swipe-card.pop-in {
  -webkit-animation: bounceIn 0.3s ease-out;
}

/*Intro Css*/
body {
  cursor: url('http://ionicframework.com/img/finger.png'), auto;
}
.slider {
  height: 100%;
}
.slider-slide {
  padding-top: 80px;
  color: #000;
  background-color: #fff;
  text-align: center;

  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
}

#logo {
  margin: 30px 0px;
}

#list {
  width: 170px;
  margin: 30px auto;
  font-size: 20px;
}
#list ol {
  margin-top: 30px;
}
#list ol li {
  text-align: left;
  list-style: decimal;
  margin: 10px 0px;
}
.button.button-positive.button-clear{
  color: #F1F1F1;
}
/* Notification */
.wrapper { 
  margin: 1em auto;
  width: 40%
}

.notification {
  position: relative;
  margin: 1em auto
}

.notification-description:after {
  content: '\f137';
  font: 20px FontAwesome;
  position: absolute;
  color: #ecf0f1;
  top: 33%;
  right: 3%;
  cursor: pointer
}

  .notification .notification-description .fa {
    color:#fff;
    margin-right: .5em
  }
  .notification .notification-description p {
    margin:0;
    vertical-align: middle;
    font: 300 16px/2.3 "Open Sans";
    color:#ecf0f1;
    padding: 10px 20px
  }

  .notification .notification-description p strong {
    font-size: 20px;
    margin-right: 20px;
    text-transform: uppercase;
    display: inline-block;
    width: 100px
  }
.notification.success .notification-description{
  position: relative;
  background: #27ae60;
  background: linear-gradient(
    25deg
    , rgba(39, 174, 96, .8) 0%
    , rgba(46, 204, 113, .8) 15%
    , rgba(39, 174, 96, 1) 15%
    , #27ae60 100% 
  )
}

.notification.error .notification-description{
   background: #c0392b;
    background: linear-gradient(
    25deg
    , rgba(192, 57, 43, .8) 0%
    , rgba(231, 76, 60, .8) 15%
    , rgba(231, 76, 60, 1) 15%
    , #c0392b 100% 
  )
}

.notification.warning .notification-description {
  background:#d35400;
  background: linear-gradient(
    25deg
    , rgba(211, 84, 0, .8) 0%
    , rgba(230, 126, 34, .8) 15%
    , rgba(230, 126, 34, 1) 15%
    , #d35400 100% 
  )
}
.notification.info .notification-description{
   background:#3498db;
  background: linear-gradient(
    25deg
    , rgba(41, 128, 185, .8) 0%
    , rgba(52, 152, 219, .8) 15%
    , rgba(52, 152, 219, 1) 15%
    , #3498db 100%
  )
}

@media (max-width: 90em) {
  .wrapper {
    width: 100%
  }
}

.favorite {
  border-color:#4a87ee;
}
.favorite a{
  border-color:#4a87ee;
}
/*image blur*/
/*.blurry {
  -webkit-filter: blur(7px);
  filter: blur(7px);
}
.bg-img {
  background-image: url('../img/Christmas-Shopping-for-Women-3.jpg');
  -webkit-filter: blur(7px);
  filter: blur(7px);
  width: 100%;
  height: 125px;
  display: block;
}
*/
/*#store_search{
  display: none;
}*/
.save_true{
  color:rgb(40, 211, 40);
}
/*.save-false{
  color:rgb(40, 211, 40);
}*/
.rotate{
transform: rotate(48deg);
}
.color_0{
  color: yellow;
}
